<form class="back_to_store" action="/store">
	<button>Back to Store</button>
</form>
<h1 class="page_title">Cart</h1>

<% if not @send_to_cart.empty? %>
	<div class="row cart_headers">
		<div class="col-md-2"><span>Item</span></div>
		<div class="col-md-3"><span>Name</span></div>
		<div class="col-md-2"><span>Quantity</span></div>
		<div class="col-md-1"><span>Price</span></div>
		<div class="col-md-2"><span>Update</span></div>
		<div class="col-md-2"><span>Remove</span></div>
	</div>
	<div class="row cart_list">
		<% @send_to_cart.each do |item| %>
			<div class="col-md-2">
				<img class="cart_image" src="<%= item[:details].inventory.image_url %>" alt="">
			</div>
			<div class="col-md-3">
				<span class="cart_item_name"><%= item[:details].inventory.name %></span>
			</div>
			<div class="col-md-2">
				<span><%= item[:details].quantity %></span>
			</div>
			<div class="col-md-1">
				<span><%= item[:details].inventory.price %></span>
			</div>
			<div class="col-md-2">
				<select name="" class="quantity_select_tag">
					<% 1.upto(item[:quantity_select]) do |number| %>
						<option value="<%= number %>"><%= number %></option>
					<% end %>
				</select>
			</div>
			<div class="col-md-2">
				<form class="cart_item_remove" action="/cart/delete" method="post">
					<input class="item_id" type="hidden" name="id" value="<%= item[:details].id %>">
					<input type="hidden" name="_method" value="delete">
					<button><i class="fa fa-trash-o fa-2x" aria-hidden="true"></i></button>
				</form>
			</div>
		<% end %>
	</div>
	<div class="price_total_container">
		<span class="total">Total:</span>
		<div>
			<span class="price_total"><%= @price_total %></span>
			<span>Schmeckles</span>
		</div>
	</div>
	<div class="cart_buttons_container">
		<form action="/cart" id="updateCart">
			<button>Update Cart</button>
		</form>
		<form class="order_cart" action="/order" method="post">
			<button>Order</button>
		</form>
	</div>
<% else %>
	<div class="empty_cart_container">
		<p class="speech-bubble">Cart is empty! Nothing to see here.</p>
		<img src="/images/stealy.png" alt="">
	</div>
<% end %>


