<div class="item_header">
	<h1>Item</h1>
	<img src="/images/stealy.png" alt="">
</div>
<form action="/store">
	<button>Back to store</button>
</form>

<!-- Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
    		<div class="modal-header">
        		<h5 class="modal-title" id="exampleModalLabel">Sucess!</h5>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
      		</div>
	      	<div class="modal-body">
	        	<span id="modalMessage"></span> : <%= @item.name%> 
	      	</div>
	      	<div class="modal-footer">
        		<button type="button" class="btn btn-secondary" data-dismiss="modal">Continue Shopping</button>
	      		<form action="/cart">
	        		<button id="checkout" class="btn btn-primary">Checkout</button>
	      		</form>
	      	</div>
    	</div>
  	</div>
</div>

<div class="item_container">
	<div class="item">
		<div class="item_image_container">
			<img src="<%= @item.image_url %>" alt="">
		</div>
		<div class="item_details">
			<h1><%= @item.name %></h1>
			<p><%= @item.price %> Schmeckles</p>
			<p><%= @item.description %></p>
			<% if logged_in? %>
				<p>Status: <%= @stock %></p>
				<form class="quantity_form" action="">
					<input id="item_id" name="id" type="hidden" value="<%= @item.id %>">
					<label for="">Quantity</label>
					<select name="quantity" id="">
						<% 1.upto(@item.quantity) do |number| %>
							<option value="<%= number %>"><%= number%></option>
						<% end %>
					</select>
					<button id="addToCart">Add to cart</button>
				</form>
			<% end %>
		</div>
	</div>
	<div class="reviews_container">
		<% if logged_in? %>
			<div class="starRating" data-rateyo-rating="4"></div>			
			<form class="reviews_input" action="/reviews/<%= @item.id %>" method="post">
				<textarea name="review" id="" cols="50" rows="5" placeholder="Add a review"></textarea>
				<button id="submit_review">Submit Review</button>
				<input id="rating_field" name="rating" type="hidden" value="">
			</form>
		<% end %>
		<div class="reviews">
			<ul>
				<% if @reviews_list %>
					<% @reviews_list.each do |record| %>
						<li>
							<%= record[:review_rating] %>
							<p class="username"><%= record[:data].user.name%></p>
							<p><%= record[:data].review_text %></p>
						</li>
					<% end %>
				<% end %>
			</ul>
		</div>
	</div>
</div>
