<form class="back_to_store" action="/store">
	<button>Back to Store</button>
</form>

<!-- Modal -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
    		<div class="modal-header">
        		<h5 class="modal-title" id="exampleModalLabel">Success!</h5>
        		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          			<span aria-hidden="true">&times;</span>
        		</button>
      		</div>
	      	<div class="modal-body">
	        	<span id="modalMessage"></span> : <span class="modal_item_name"><%= @item.name%></span>
	      	</div>
	      	<div class="modal-footer">
	      		<form action="/store">
	      			<!-- removed data-dismiss="modal" but navigated to /store so cart amount would refresh -->
        			<button class="btn btn-secondary">Continue Shopping</button>
        		</form>
	      		<form action="/cart">
	        		<button id="checkout" class="btn btn-primary">Checkout</button>
	      		</form>
	      	</div>
    	</div>
  	</div>
</div>

<div class="item_container">
	<div class="item">
		<div class="item_image_container">
			<img src="<%= @item.image_url %>" alt="">
		</div>
		<div class="item_details">
			<h1><%= @item.name %></h1>
			<p><%= @item.price %> Schmeckles</p>
			<p><%= @item.description %></p>
			<p class="stock_status">Status: <%= @stock %></p>
			<% if @quantity %>
				<form id="quantityForm" class="quantity_form" action="">
					<input id="item_id" name="id" type="hidden" value="<%= @item.id %>">
					<label for="">Quantity</label>
					<select id="quantity_select" name="quantity" id="">
						<% 1.upto(@quantity) do |number| %>
							<option value="<%= number %>"><%= number%></option>
						<% end %>
					</select>
					<button id="addToCart">Add to cart</button>
				</form>
			<% end %>
		</div>
	</div>
	<div class="reviews_container">
		<% if logged_in? %>
			<div class="rating_container">
				<span>Rate This Product</span>
				<div class="starRating" data-rateyo-rating="4"></div>
			</div>			
			<form class="reviews_input" action="/reviews/<%= @item.id %>" method="post">
				<textarea name="review" id="" cols="70" rows="5" placeholder="Add a review"></textarea>
				<button id="submit_review">Submit Review</button>
				<input id="rating_field" name="rating" type="hidden" value="">
			</form>
		<% end %>
		<div class="reviews">
			<% if not @reviews_list.empty? %>
				<ul>
					<% @reviews_list.each do |record| %>
						<li>
							<%= record[:review_rating] %>
							<p class="username"><%= record[:data].user.name%></p>
							<p class="review_text"><%= record[:data].review_text %></p>
						</li>
					<% end %>
				</ul>
			<% else %>
				<h1 class="no_reviews">No reviews yet</h1>
			<% end %>
		</div>
	</div>
</div>
